{% extends 'listings/base.html' %}



{% block title %}
Bands Detail Page
  
{% endblock title %}
<ul>
{% block content %}
<h2>{{bands}} bands with id of:  {{id}}</h2>
<div>

<a href='{% url "band-list" %}'>Band lists page</a>
</div>
<br>

<li>Genre: {{bands.get_genre_display}}</li>
<li>Bio: {{bands.biography}}</li>
<li>Year_Formed: {{bands.year_formed}}</</li>
<strong><li>isActive: {{bands.active | yesno}}</</li></strong>

</ul>

{% if bands.official_homepage %}
<div>
<a  target="_blank" href="{{bands.official_homepage}}">{{bands.name}}</a>
</div>

{% endif %}




{% endblock content %}

  